#dsc {
	text-align: center;
	margin: 6% 18%;
	color: white;
}

img {
	float: left;
	padding-right: 5px;
}

.profil {
	padding: 0.3cm 0.3cm 0.3cm 0.3cm;
	overflow: scroll;
	text-align: left;
	background-color: red;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}